html{
    background-image: url(usa.jpg);
  
}

img {
    width:500px;
    
}

h1{
      background-color: rgba(124,20,20,.5);
    width:15%;
    height: 13%;
    margin:auto; 
    text-align: center;
    
  
}
a:link{
    font-family: 'Amatica SC', cursive;
    color: white;
   text-align: center;
    font-size:50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
a:visited{
    color:white ;
    text-decoration: none;
     
}
a:hover{
    color: #0054a4;
}

div.a{
    position: relative;
    
    float: left;
    
    
}
div.b{
    padding-left: 10%;
    padding-right:10%;
}

div.c{
  background-color:rgba(124,20,20,.5);
    width: 100%;
   
}